{% load thumbnail %}

<figure class='b-gallery-items-item'>
	{% if item.item_type == 'image' %}
		<a href='{{ item.get_absolute_url }}' class='b-gallery-items-item__img_link'>
			{% if item.item_file|is_portrait %}
				{% thumbnail item.item_file "300x200" as im %}
					<img src="{{ im.url }}" alt="{{ item.name }}" class='b-gallery-items-item__img' style="padding:{{ im|margin:"300x200" }}">
				{% endthumbnail %}
			{% else %}
				{% thumbnail item.item_file "300x200" crop="center" as im %}
					<img src="{{ im.url }}" alt="{{ item.name }}" class='b-gallery-items-item__img'>
				{% endthumbnail %}
			{% endif %}
		</a>
	{% else %}
		<embed
			src="/static/gallery/gddflvplayer.swf" flashvars="?&autoplay=false&sound=70&buffer=2&vdo={{ item.item_file.url }}"
			width="300"
			height="200"
			allowFullScreen="true"
			quality="best"
			wmode="transparent"
			allowScriptAccess="always"
			pluginspage="http://www.macromedia.com/go/getflashplayer"  type="application/x-shockwave-flash">
		</embed>
	{% endif %}
	<a href='{{ item.get_absolute_url }}' class='b-gallery-items-item__link'>
		<figcaption class='b-gallery-items-item-info m-{{ item.item_type }}'>
			{{ item.name }}
		</figcaption>
	</a>
</figure>
