{% extends 'base.html' %}

{% load i18n %}


{% block content %}

	<h1>{% firstof seo.header header %}</h1>

	{% if category.get_public and category.get_childs %}
		<h2>{% trans "Categories" %}</h2>
	{% endif %}

	{% include 'gallery/__blocks/categories-list.html' with categories=category.get_childs %}


	{% if category.get_public and category.get_childs %}
		<h2>{% trans "Images" %}</h2>
	{% endif %}

	{% include 'gallery/__blocks/items-list.html' with items=category.get_public %}

	{# {% if category.description %} #}
		{{ category.description|safe }}
	{# {% endif %} #}

{% endblock %}
