{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
	<h1>
		{% if seo.header %}
			{{ seo.header }}
		{% else %}
			{{ header }}
		{% endif %}
	</h1>

{% comment %}

	{% if categories %}
		<div class='gallery-category-list'>
		{% if images %}<h2>{% trans "Categories" %}</h2>{% endif %}
			{% for category in categories %}
				<figure>
					{% if category.img %}
						<a href='{{category.get_absolute_url}}'>
							<p><img src="{{category.img.thumb_url}}" alt="{{category.name}}"></p>
							<figcaption>{{category.name}}</figcaption>
						</a>
					{% endif %}
				</figure>
			{% endfor %}
		</div>
	{% endif %}

{% endcomment %}

	{% if images %}
		<div class='b-gallery-images-list'>
		{% if categories %}
			<h2 class='b-gallery-images-list__title'>{% trans "Images" %}</h2>
		{% endif %}
			{% for image in images %}
				<figure class='b-gallery-images-item'>
					<a href='{{ image.get_absolute_url }}' class='b-gallery-images-item__link'>
						{% if image.img|is_portrait %}
							{% thumbnail image.img "300x200" crop="top" as im %}
								<img src="{{ im.url }}" alt="{{ image.name }}" class='b-gallery-images-item__img'>
							{% endthumbnail %}
						{% else %}
							{% thumbnail image.img "300x200" crop="center" as im %}
								<img src="{{ im.url }}" alt="{{ image.name }}" class='b-gallery-images-item__img'>
							{% endthumbnail %}
						{% endif %}
						<figcaption class='b-gallery-images-item-info'>
							<h5 class='b-gallery-images-item-info__title'>{{image.name}}</h5>
							<p class='b-gallery-images-item-info__description'>
								{{image.description}}
							</p>
						</figcaption>
					</a>
				</figure>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
