{% if image = 404 %}
	<b class='error'>{ Image #{{id}} does not exist }</b>
{% else %}
	{% if type = 'image' %}
		<a href='{{image.img.url}}' class="colorbox">
			<img src='{{image.url}}' class='gallery-image' id='gallery-image-{{id}}' alt='{{image.name}}'>
		</a>
	{% elif type = 'image-not-link' %}
		<img src='{{image.url}}' class='gallery-image' id='gallery-image-{{id}}' alt='{{image.name}}'>
	{% elif type = 'image-label' %}
		<figure>
			<a href='{{image.img.url}}' class='gallery-full-image colorbox' id='gallery-full-image-{{id}}'>
				<img src="{{image.url}}" alt='{{image.name}}'><br>
				<figcaption>{{image.name}}</figcaption>
			</a>			
		</figure>
	{% elif type = 'image-label-box' %}
		<figure class='b-gallery-image' style='width: {{width}}px; height: {{height|add:'+20'}}px;'>
			<a href='{{image.img.url}}' class='gallery-full-image colorbox' id='gallery-full-image-{{id}}'>
				<div style="background: url({{image.url}}) no-repeat center center; width: {{width}}px; height: {{height}}px; margin: 0 auto; display: block;">
					<img src="{{image.url}}" alt='{{image.name}}' style='display: none;'>
				</div>
				<figcaption>{{image.name}}</figcaption>
			</a>
		</figure>
	{% endif %}
{% endif %}