/**
 **************************
 CATEGORIES LIST
 **************************
*/
.b-gallery-categories {
	display: block;
	clear: both;
	overflow: hidden;
}

.b-gallery-category {
	display: block;
	float: left;
}

.b-gallery-category__link {

}

.b-gallery-category__img {

}

.b-gallery-category__caption {
	display: block;
	text-align: center;
}


/**
 **************************
 ITEMS LIST
 **************************
*/
.b-gallery-items {
	display: block;
	clear: both;
	overflow: hidden;
}

.b-gallery-item {
	position: relative;
	z-index: 100;
	display: inline-block;
	padding: 10px;
	margin: 0;
}

.b-gallery-item__zoom_link {
	display: block;
}

.b-gallery-item__zoom_link:hover {
	background: rgba(146,193,223,0.3) url(../img/zoom.png) center center no-repeat;
}

.b-gallery-item__img {
	position: relative;
	display: block;
	z-index: -1;
}

.b-gallery-item__img:hover {
	opacity: 0.8;
}

.b-gallery-item__caption_link {
}

.b-gallery-item__caption {
	text-align: center;
}


/**
 **************************
 ITEM
 **************************
*/
.b-gallery-detail {

}

.b-gallery-detail__title {

}

.b-gallery-detail__img {

}

.b-gallery-detail__description {

}


/**
 **************************
 OTHER
 **************************
*/
.bx-wrapper {
	margin: 0 auto;
}

.bx-prev,
.bx-next {
	width: 48px;
	height: 48px;
	display: block;
	color: transparent;
	margin-top: -160px;
}

.bx-prev {
	float: left;
	margin-left: -60px;
	background: url(../img/arrow-left.png) center center no-repeat;
}

.bx-next {
	float: right;
	margin-right: -60px;
	background: url(../img/arrow-right.png) center center no-repeat;
}