/**
 **************************
 CATEGORIES LIST
 **************************
*/
.b-gallery-categories {
	display: block;
	clear: both;
	overflow: hidden;
	text-align: center;
}

.b-gallery-category {
	display: inline-block;
	/*float: left;*/
}

.b-gallery-category__link {

}

.b-gallery-category__img {

}

.b-gallery-category__caption {
	display: block;
	text-align: center;
}


/**
 **************************
 ITEMS LIST
 **************************
*/
.b-gallery-items {
	display: block;
	clear: both;
	overflow: hidden;
}

.b-gallery-item {
	position: relative;
	z-index: 100;
	display: inline-block;
	padding: 10px;
	margin: 0;
}

.b-gallery-item__zoom_link {
	display: block;
}

.b-gallery-item__zoom_link:hover {
	background: rgba(146,193,223,0.3) url(../img/zoom.png) center center no-repeat;
}

.b-gallery-item__img {
	position: relative;
	display: block;
	z-index: -1;
}

.b-gallery-item__img:hover {
	opacity: 0.8;
}

.b-gallery-item__caption_link {
}

.b-gallery-item__caption {
	text-align: center;
}


/**
 **************************
 ITEM
 **************************
*/
.b-gallery-detail {

}

.b-gallery-detail__title {

}

.b-gallery-detail__img {

}

.b-gallery-detail__description {

}


/**
 **************************
 OTHER
 **************************
*/
.m-slideshow .bx-prev,
.m-slideshow .bx-next {
	width: 60px!important;
	height: 60px!important;
	margin-top: -30px!important;
}

.m-slideshow .bx-prev {
	margin-left: -120px!important;
	background: url(/templates/emark/img/prev.png) center center no-repeat!important;
}

.m-slideshow .bx-next {
	margin-right: -120px!important;
	background: url(/templates/emark/img/next.png) center center no-repeat!important;
}

.m-slideshow .b-gallery__title {
	color: #fff;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
}

.m-slideshow .b-gallery__cover {
	border: 5px solid #fff;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.m-slideshow .b-category__description {
	text-align: center;
	color: #fff;
	font-size: 16px;
	width: 650px;
	margin: 0 auto;
}

.m-slideshow .b-slideshow a {
	border: 5px solid #fff;
}


.bx-wrapper {
	margin-bottom: 20px!important;
}

.bx-pager,
.bx-pager {
	display: none!important;
}

.bx-wrapper .bx-viewport,
.bx-wrapper .bx-viewport {
	left: 0!important;
	border: 0!important;
	background: transparent!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
