
/*
 **************************
 * =GALLERY
 **************************
*/

.b-gallery-categories {
	display: block;
	clear: both;
	overflow: hidden;
}

.b-gallery-categories__sub_title {
	/* ... */
}

.b-gallery-categories-category {
	display: block;
	float: left;
	padding: 0;
	margin: 0 30px 20px 0;
}

.b-gallery-categories-category:nth-child(3n) {
	margin-right: 0;
}

.b-gallery-categories-category a {
	color: #008;
	font-size: 16px;
}

.b-gallery-categories-category img {
	border: none;
}

.b-gallery-categories-category figcaption {
	text-align: center;
}


.b-gallery-items-list {
	display: block;
	clear: both;
	overflow: hidden;
}

.b-gallery-items-list__title {
	/* ... */
}

.b-gallery-items-item {
	display: block;
	float: left;
	padding: 0;
	margin: 0 30px 20px 0;
}

.b-gallery-items-item:nth-child(3n) {
	margin-right: 0;
}

.b-gallery-items-item a {
	color: #008;
	font-size: 16px;
}

.b-gallery-items-item__img_link {
	width: 300px;
	height: 200px;
	border: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: #eee;
	display: block;
}

.b-gallery-items-item img {
	border: none;
}

.b-gallery-items-item figcaption {
	text-align: center;
}

.b-gallery-items-item .m-image {
	display: none;
}


.b-gallery-item-detail {
	padding: 0;
	margin: 0;
}

.b-gallery-item-detail .m-image {
	display: none;
}
