{% extends 'index.html' %}
{% block content %}
	<h1>{% if seo.header %}{{ seo.header }}{% else %}{{ header }}{% endif %}</h1>

	{% if categories %}
	<h2>Категории</h2>
	<div class='b-gallery-categories'>
	{% for category in categories %}
		<div class='b-gallery-categories_category'>			
			{% if category.img %}
				<div style="background: url({{category.img.thumb_url}}) no-repeat center center; width: 185px; height: 185px; margin: 0 auto;"></div>
			{% endif %}
			<a href='{{category.get_absolute_url}}'>{{category.name}}</a>
		</div>
	{% endfor %}
	{% endif %}


	{% if images %}
	<h2>Изображения</h2>
	<div class='b-gallery-images'>
	{% for image in images %}
		<div class='b-gallery-images_image'>
			{% if image.img %}
				<a href='{{image.img.url}}' class='colorbox'><div style="background: url({{image.img.thumb_url}}) no-repeat center center; width: 150px; height: 150px; margin: 0 auto;"></div></a>
			{% endif %}
			<b>{{image.name}}</b>
			
		</div>
	{% endfor %}
	</div>
	{% endif %}
	</div>
{% endblock %}