{%extends 'index.html'%}
{% load tree %}

{%block title%}Категории{%endblock%}
{%block content%}
<h1>{% if seo.header %}{{ seo.header|safe }}{% else %}{{ header|safe }}{% endif %}</h1>
<div id='category_about'>
	<img src='{{category.img.thumb_url}}' class='thumb'>
	{{category.text|safe}}
	<br><br>
	
	<h3>Товары:</h3>
	<div id='prices'>
		{% for price in prices %}
			<div style='width: 200px; border: 1px solid silver; padding: 15px; margin: 15px; display: inline-block;'>
				<div style='background: url({{price.img.thumb_url}}) no-repeat center center; width: 200px; height: 200px; border: 1px solid silver;'></div>
				{{price.name}} <b style='float: right'>{{price.price_for_sale}} Р.</b>

				<form method='POST' action='/magazine/checkout/'> 
					{% csrf_token %}
					<span style='margin-top: 8px; float: left;'>Количество: </span>
					<input type='number' min='1' name='count' value='1' style='width: 80px; float: right;'>
					<input type='hidden' name='price' value='{{ price.id }}'>
					<input type="submit" value="В корзину" style='float: none; width: 200px; margin-bottom: 0px;'>
				</form>
				
				<!--form id=pay name=pay method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp"> 
					<input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{{price.price_for_sale}}">
					<input type="hidden" name="LMI_PAYMENT_DESC_BASE64" value="0KXQvtGB0YLQuNC90LMg4oaSIERqYW5nbw=="> 
					<input type="hidden" name="LMI_PAYMENT_NO" value="1">
					<input type="hidden" name="LMI_PAYEE_PURSE" value="R913931750187">
					<input type="hidden" name="LMI_SIM_MODE" value="0"> 
					
					<input type="submit" value="Оплатить" style='float: none; width: 200px; margin-bottom: 0px;'>
				</form--> 
			</div>
		{% endfor %}
	</div>
</div>

<div id='news_list'>
<ul>
{% for category in categories %}
	<li><a href='{{category.get_absolute_url}}'>{{category.name}}</a><br>
	<img src='{{category.img.thumb_url}}'>
		{% tree category 'magazine_tree.html' %}
	</li>

{% endfor %}
</ul>


</div>
{%endblock%}